<div>
	<p><b>Respected Sir/Madam,</b></p>

	<p>Please check the Cequity Daily/Weekly Report Status,</p>

	<table width="85%" align="center" style="border: 1px solid black;border-collapse: collapse;">
		<thead>
			<tr style="background:rgba(0, 0, 0, 0.20);;">
				<th style="border: 1px solid black;">Report</th>
				<th style="border: 1px solid black;">Start</th>
				<th style="border: 1px solid black;">End</th>
				<th style="border: 1px solid black;">Total Records</th>
				<th style="border: 1px solid black;">Result</th>
			</tr>
		</thead>
		<tbody>
			{report_result}
		</tbody>
	</table>
	<br>
	<p>You can find the csv reports on <b>{report_path}</b> location</p>
	<p style="margin: 0px"><b>Thanks & Regards,</b></p>
	<p style="margin: 0px"><b>Makarand Bauskar</b></p>
	<p style="margin: 0px">Software Developer</p>
	<p style="margin: 0px">New Indictrans Technology Pvt Ltd.</p>
</div>